.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.heading{
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  text-align: center;
}